<template lang='pug'>
  div.q-ma-lg
    q-dialog(v-model='showDetail',transition-show='rotate',transition-hide='rotate')
      q-card.q-pa-lg
        q-card-section
          div.text-h6 {{detailData.article_name}}
        q-card-section(style='max-height:50vh;min-width:50vh')
          div.column.q-gutter-md
            div(v-html='detailData.article_content') {{detailData.article_content}}
        q-card-actions(right)
          q-btn(label='确定',@click='showDetail=false')
    q-table(
      flat,
      title='文章详细列表',
      :data='data',
      :columns='columns',
      :loading='loading',
      @request='onRequest',
      :pagination.sync="paginationData",
      row-key='user_id')
      template(v-slot:top)
        div.row(style='width:100%')
          q-space
          q-input(outlined,dense,v-model='generalSearch',placeholder='搜索')
          q-btn(label='搜索',color='secondary')
      template(v-slot:body="props")
        q-tr(:props='props')
          q-td(key='article_id',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.article_id}}
          q-td(key='article_name',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.article_name}}
          q-td(key='article_content',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.article_content}}
          q-td(key='article_click',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.article_click}}
          q-td(key='watch_count',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.watch_count}}
          q-td(key='created_at',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.created_at}}
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'ContentRemoved',
  data () {
    return {
      showDetail: false,
      generalSearch: '',
      isAdvanceSearch: false,
      detailData: {},
      filter: {
        userName: ''
      },
      loading: true,
      paginationData: {
        sortBy: 'user_id',
        descending: false,
        page: 1,
        rowsPerPage: 15,
        rowsNumber: 16
      },
      columns: [
        { name: 'article_id', align: 'center', label: 'ID', field: 'article_id', sortable: true },
        { name: 'article_name', label: '文章标题', field: 'article_name', sortable: true },
        { name: 'article_content', label: '内容', field: 'article_content' },
        { name: 'article_click', label: '查看的人数', field: 'article_click' },
        { name: 'watch_count', label: '阅读次数', field: 'watch_count' },
        { name: 'created_at', label: '创建时间', field: 'created_at', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) }
      ],
      data: [
        {
          article_id: 1,
          article_name: 'Frozen Yogurt',
          article_click: 159,
          article_content: 6.0,
          watch_count: 24,
          created_at: 4.0
        }
      ]
    }
  },
  mounted () {
    this.loading = true
    this.getAllCount({ status: -1 }).then(data => {
      console.log(data)
      this.paginationData.rowsNumber = data
      // if (data > 15) {
      //   this.paginationData.page = parseInt(data / this.paginationData.rowsPerPage) + 1
      // } else {
      //   this.paginationData.page = 1
      // }

      this.loading = false
      this.onRequest({
        pagination: this.paginationData,
        filter: undefined
      })
    }).catch(e => {
      this.loading = false
    })
  },
  methods: {
    ...mapActions('article', [
      'getAllList',
      'getAllCount'
    ]),
    onRequest (props) {
      let { page, rowsPerPage, rowsNumber, descending, sortBy } = props.pagination
      // let filter = props.filter
      let limit = rowsPerPage === 0 ? rowsNumber : rowsPerPage
      let offset = (page - 1) * rowsPerPage
      this.loading = true
      this.getAllList({ limit, offset, status: -1 }).then(data => {
        console.log(data)
        this.data = data
        this.paginationData.page = page
        this.paginationData.rowsPerPage = rowsPerPage
        this.paginationData.sortBy = sortBy
        this.paginationData.descending = descending
        this.loading = false
        console.log(this.paginationData)
      }).catch(err => {
        this.loading = false
        console.log(err)
      })
    },
    onSelection (row) {
      console.log(row)
      this.$q.loading.show()
      this.display({ articleId: row.article_id }).then(data => {
        console.log(data)
        this.showDetail = true
        this.detailData = data
        this.$q.loading.hide()
      }).catch(err => {
        console.log(err)
        this.$q.loading.hide()
      })
    }
  }
}
</script>

<style>
</style>
