<template lang='pug'>
  div.q-ma-lg
    q-dialog(v-model='showDetail',transition-show='rotate',transition-hide='rotate')
      q-card.q-pa-lg
        q-card-section
          div.text-h6 {{detailData.user_name}}
        q-card-section(style='max-height:50vh;min-width:50vh')
            div.column.q-gutter-md
              q-field(dense)
                template(v-slot:prepend)
                  div.text-caption.full-width.no-outline 积分：
                template(v-slot:control)
                  div.full-width.no-outline {{detailData.user_mark}}
              q-field(dense)
                template(v-slot:prepend)
                  div.text-caption.full-width.no-outline 等级：
                template(v-slot:control)
                  div.full-width.no-outline {{detailData.user_rank_id}}
              q-field(dense)
                template(v-slot:prepend)
                  div.text-caption.full-width.no-outline 最近登陆ip地址：
                template(v-slot:control)
                  div.full-width.no-outline {{detailData.user_last_login_ip}}
              q-field(dense)
                template(v-slot:prepend)
                  div.text-caption.full-width.no-outline 最近登陆的时间：
                template(v-slot:control)
                  div.full-width.no-outline {{detailData.user_last_update_timek}}
    q-table(
      flat,
      title='用户详细列表',
      :data='data',
      :columns='columns',
      :loading='loading',
      @request='onRequest',
      :pagination.sync="paginationData",
      row-key='user_id')
      template(v-slot:top)
        div.columns.q-gutter-md(v-if='isAdvanceSearch')
          q-input(v-model='filter.userName',outlined,dense).q-mr-md
            template(v-slot:prepend)
              div.text-caption 用户名:
          div.row
            q-input(v-model='filter.userName',outlined,dense,placeholder='最小...')
              template(v-slot:prepend)
                div.text-caption 用户积分(范围):
            q-input(v-model='filter.userName',outlined,dense,placeholder='最大...').q-mr-md
          div.row
            q-input(v-model='filter.userName',outlined,dense,placeholder='最小...')
              template(v-slot:prepend)
                div.text-caption 用户等级(范围):
            q-input(v-model='filter.userName',outlined,dense,placeholder='最大...')
          div.row
            q-btn(color='primary',size='md',label='搜索')
            q-btn(flat,color='primary',label='收起',@click='onSetAdvanceSearch')
        div(v-else).row(style='width:100%')
          q-space
          q-btn(flat,label='高级搜索',color='primary',@click='onSetAdvanceSearch')
          q-input(outlined,dense,v-model='generalSearch',placeholder='搜索')
            template(v-slot:append)
              q-icon(name='search')
          q-btn(label='搜索',color='secondary')
      template(v-slot:body="props")
        q-tr(:props='props')
          q-td(key='user_id',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.user_id}}
          q-td(key='user_name',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.user_name}}
          q-td(key='user_mark',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.user_mark}}
          q-td(key='user_rank_id',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.user_rank_id}}
          q-td(key='user_last_login_ip',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.user_last_login_ip}}
          q-td(key='user_last_update_timek',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.user_last_update_timek}}
          q-td(key='user_freeze',:props='props')
            q-toggle(v-model='props.row.user_freeze',@input='onChangeFreeze(props.row)')
          q-td(key='user_lock',:props='props')
            q-toggle(v-model='props.row.user_lock',@input='onChangeLock(props.row)')
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'UserList_Actived',
  data () {
    return {
      showDetail: false,
      generalSearch: '',
      isAdvanceSearch: false,
      detailData: {},
      filter: {
        userName: ''
      },
      loading: true,
      paginationData: {
        sortBy: 'user_id',
        descending: false,
        page: 1,
        rowsPerPage: 15,
        rowsNumber: 16
      },
      columns: [
        {
          name: 'user_id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'user_id',
          format: val => `${val}`,
          sortable: true
        },
        { name: 'user_name', align: 'center', label: '用户名', field: 'user_name', sortable: true },
        { name: 'user_mark', label: '用户积分', field: 'user_mark', sortable: true },
        { name: 'user_rank_id', label: '用户等级', field: 'user_rank_id' },
        { name: 'user_last_login_ip', label: '最近登录地址', field: 'user_last_login_ip' },
        { name: 'user_last_update_timek', label: '最近一次更新的时间', field: 'user_last_update_timek' },
        { name: 'user_freeze', label: '是否冻结', field: 'user_freeze', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        { name: 'user_lock', label: '是否锁定', field: 'user_lock', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) }
      ],
      data: [
        {
          user_id: 1,
          user_name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        }
      ]
    }
  },
  mounted () {
    this.loading = true
    this.getUsersCount({
      userLock: false,
      userFreeze: false
    }).then(data => {
      console.log(data)
      this.paginationData.rowsNumber = data
      // if (data > 15) {
      //   this.paginationData.page = parseInt(data / this.paginationData.rowsPerPage) + 1
      // } else {
      //   this.paginationData.page = 1
      // }
      this.onRequest({
        pagination: this.paginationData,
        filter: undefined
      })
    }).catch(e => {
      this.loading = false
    })
  },
  methods: {
    ...mapActions('users', [
      'getUsersList',
      'getUsersCount',
      'getUsersDetailInfo'
    ]),
    onRequest (props) {
      let { page, rowsPerPage, rowsNumber, descending, sortBy } = props.pagination
      // let filter = props.filter
      let limit = rowsPerPage === 0 ? rowsNumber : rowsPerPage
      let offset = (page - 1) * rowsPerPage
      this.loading = true
      this.getUsersList({
        limit,
        offset,
        userLock: false,
        userFreeze: false
      }).then(data => {
        console.log(data)
        this.data = data
        this.paginationData.page = page
        this.paginationData.rowsPerPage = rowsPerPage
        this.paginationData.sortBy = sortBy
        this.paginationData.descending = descending
        this.loading = false
        console.log(this.paginationData)
      }).catch(err => {
        this.loading = false
        console.log(err)
      })
    },
    onSetAdvanceSearch () {
      this.isAdvanceSearch = !this.isAdvanceSearch
    },
    onSelection (row) {
      this.$q.loading.show()
      this.getUsersDetailInfo({ userId: row.user_id }).then(data => {
        console.log(data)
        this.showDetail = true
        this.detailData = data
        this.$q.loading.hide()
      }).catch(err => {
        console.log(err)
        this.$q.loading.hide()
      })
    },
    onChangeFreeze (row) {
      this.$q.dialog(
        {
          title: '确认框',
          message: '确定进行冻结操作吗？',
          cancel: '取消',
          ok: '确定',
          persistent: true
        }
      ).onOk(() => {

      }).onCancel(() => {
        row.user_freeze = !row.user_freeze
      })
    },
    onChangeLock (row) {
      this.$q.dialog(
        {
          title: '确认框',
          message: '确定进行锁定操作吗？',
          cancel: '取消',
          ok: '确定',
          persistent: true
        }
      ).onOk(() => {

      }).onCancel(() => {
        row.user_lock = !row.user_lock
      })
    }
  }
}
</script>

<style>
</style>
