<template lang='pug'>
div.q-ma-md
  q-dialog(v-model='showDetail',transition-show='rotate',transition-hide='rotate')
    q-card.q-pa-lg
      q-card-section
        div.text-h6 {{detailData.admin_id}}
      q-card-section(style='max-height:50vh;min-width:50vh')
        div.column.q-gutter-md
          div(v-html='detailData.article_content') {{detailData.admin_name}}
      q-card-actions(right)
        q-btn(label='确定',@click='showDetail=false')
  q-table(
          flat,
          title='管理员设置',
          :data='data',
          :columns='columns',
          :loading='loading',
          @request='onRequest',
          selection='multiple',
          :selected.sync='selection',
          :pagination.sync="paginationData",
          row-key='f_id')
        template(v-slot:top)
          div.row(style='width:100%')
            q-space
            q-btn(label='添加',color='secondary',@click='onAddAdminer')
        //- template(v-slot:body="props")
        //-   q-tr(:props='props')
        //-     q-td(key='admin_id',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.admin_id}}
        //-     q-td(key='admin_name',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.admin_name}}
        //-     q-td(key='role',:props='props',@dblclick.native='onSelection(props.row)') {{props.row.role}}
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Administrator',
  data () {
    return {
      showDetail: false,
      detailData: {},
      selection: [],
      loading: false,
      paginationData: {
        sortBy: 'admin_id',
        descending: false,
        page: 1,
        rowsPerPage: 15,
        rowsNumber: 16
      },
      columns: [
        { name: 'admin_id', align: 'center', label: 'ID', field: 'admin_id', sortable: true },
        { name: 'admin_name', label: '账号', field: 'admin_name', sortable: true },
        { name: 'role', label: '内容', field: 'role' },
        { name: 'otherBtn', label: '' }
      ],
      data: [
        {
          admin_id: 1,
          admin_name: 'Frozen Yogurt',
          role: 'admin'
        }
      ]
    }
  },
  mounted () {
    this.loading = true
    this.getAllCount().then(data => {
      console.log(data)
      this.paginationData.rowsNumber = data
      this.loading = false
      this.onRequest({
        pagination: this.paginationData,
        filter: undefined
      })
    }).catch(e => {
      this.loading = false
    })
  },
  methods: {
    ...mapActions('admin', [
      'getAllCount',
      'getAllList'
    ]),
    onRequest (props) {
      let { page, rowsPerPage, rowsNumber, descending, sortBy } = props.pagination
      // let filter = props.filter
      let limit = rowsPerPage === 0 ? rowsNumber : rowsPerPage
      let offset = (page - 1) * rowsPerPage
      this.loading = true
      this.getAllList({ limit, offset }).then(data => {
        console.log(data)
        this.data = data
        this.paginationData.page = page
        this.paginationData.rowsPerPage = rowsPerPage
        this.paginationData.sortBy = sortBy
        this.paginationData.descending = descending
        this.loading = false
        console.log(this.paginationData)
      }).catch(err => {
        this.loading = false
        console.log(err)
      })
    },
    onAddAdminer () {
      this.showDetail = true
    }
  }
}
</script>

<style>
</style>
