<template lang='pug'>
  div
    div.row.item-stretch(style='height:160px')
      div.col-4.q-pa-lg
        div.bg-white.row.items-center.justify-between(style='width:100%;height:100%')
          q-icon(name='home',size='64px').col-4
          div.col-auto
          div.col-4.column.items-center
            div.text-h5 visited
            div 19887/14744
      div.q-pa-lg.col-4
        div.bg-white.row.items-center.justify-between(style='width:100%;height:100%')
          q-icon(name='home',size='64px').col-4
          div.col-auto
          div.col-4.column.items-center
            div.text-h5 visited
            div 19887/14744
      div.q-pa-lg.col-4
        div.bg-white.row.items-center.justify-between(style='width:100%;height:100%')
          q-icon(name='home',size='64px').col-4
          div.col-auto
          div.col-4.column.items-center
            div.text-h5 visited
            div 19887/14744
    q-tabs(v-model='tabsModel')
      q-tab(name='one',label='one')
      q-tab(name='two',label='two')
      q-tab(name='three',label='three')
    q-tab-panels(v-model='tabsModel',animated)
      q-tab-panel(name='one')
        ve-line(:data='chartData')
      q-tab-panel(name='two')
        ve-line(:data='chartData')
      q-tab-panel(name='three')
        ve-line(:data='chartData')
</template>

<script>
export default {
  name: 'Index',
  data: function () {
    return {
      tabsModel: 'one',
      chartData: {
        columns: ['日期', '访问用户', '下单用户', '下单率'],
        rows: [
          { '日期': '1/1', '访问用户': 1393, '下单用户': 1093, '下单率': 0.32 },
          { '日期': '1/2', '访问用户': 3530, '下单用户': 3230, '下单率': 0.26 },
          { '日期': '1/3', '访问用户': 2923, '下单用户': 2623, '下单率': 0.76 },
          { '日期': '1/4', '访问用户': 1723, '下单用户': 1423, '下单率': 0.49 },
          { '日期': '1/5', '访问用户': 3792, '下单用户': 3492, '下单率': 0.323 },
          { '日期': '1/6', '访问用户': 4593, '下单用户': 4293, '下单率': 0.78 }
        ]
      }
    }
  }
}
</script>

<style>
</style>
