<template lang='pug'>
div.full-height.row.justify-center.index
  div.column.justify-center(style='width:300px')
    div(style='text-align:left')
      q-input(dark,type='text',v-model='form.username',clearable,label='username')
        template(v-slot:before='')
          q-icon(name="account_circle")
      q-input(dark,type='password',v-model='form.password',clearable,label='password')
        template(v-slot:before='')
          q-icon(name="vpn_key")
    div.row.justify-around.q-mt-md
      q-btn(color='primary',@click='onSubmit',label='login')
        template(v-slot:loading='')
          q-spinner-hourglass.on-left loading
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  name: 'Login',
  data () {
    return {
      form: {
        username: '',
        password: ''
      }
    }
  },
  validations: {
    form: {
      username: { required },
      password: { required }
    }
  },
  methods: {
    onSubmit () {
      this.$q.loading.show()
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        this.$q.notify()
        return
      }
      this.$store.dispatch('login/Login', this.form).then(() => {
        this.$router.push(this.$router.routeConfig.home.home)
        this.$q.loading.hide()
      }).catch(() => {
        this.$q.loading.hide()
      })
    }
  }
}
</script>

<style lang='stylus'>

.index
  width 100%
  position absolute
  top 0
  bottom 0
  left 0
  text-align center
  background-color #141a48
  background-repeat no-repeat
  background-size cover
  overflow hidden

</style>
