<template lang='pug'>
q-drawer(
  side='left',
  v-model='leftDrawer',
  behavior='default',
  :breakpoint='900',
  :width='240',
  bordered,
  content-class="bg-white"
  )
  q-scroll-area.fit
    q-list
      q-item-label.text-center.text-h6(header) Cource
      template(v-for='(menu,i) in menuList')
        q-item-label(header,v-if='menu.children !=undefined',:key='i+1000') {{menu.meta.title}}
        q-item(clickable,v-ripple,:to='menu',v-if='menu.children===undefined',:key='i+1000')
          q-item-section(avatar)
            q-icon(:name="menu.meta.icon")
          q-item-section {{menu.meta.title}}
        template(v-for='(m,j) in menu.children',v-else)
          q-item(clickable,v-ripple,v-if='m.children==undefined',:to='m',:key='i+100+j+1')
            q-item-section(avatar)
              q-icon(:name="m.meta.icon")
            q-item-section {{m.meta.title}}
          q-expansion-item(v-else,:key='i*100+j+1',:label='m.meta.title',:icon='m.meta.icon')
            q-item(clickable,v-ripple,:to='n',v-for='(n,x) in m.children',:key='x+1000+i+100+j+1').bg-grey-2
              q-item-section(avatar,v-if='n.meta.icon')
                q-icon(:name="n.meta.icon")
              q-item-section {{n.meta.title}}
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Menu',
  data () {
    return {

    }
  },
  created () {

  },
  computed: {
    ...mapGetters('app', [
      'openLeftDrawer'
    ]),
    leftDrawer: {
      get: function () {
        return this.openLeftDrawer
      },
      set: function () {}
    },
    menuList () {
      return this.$router.routeConfig.home.home.children
    }
  }
}
</script>

<style>
</style>
