<template lang='pug'>
q-layout(view='lHh Lpr lFf')
  q-header(bordered).shadow-up-3
    router-view(name='nav')
  router-view(name='leftDrawer')
  q-page-container
    q-page( style="padding-top: 50px")
      q-page-sticky(expand,position='top')
        tags-view
      router-view.bg-grey-2
  q-footer(bordered)
    router-view(name='footer')
</template>

<script>
import tagsView from 'components/tagsView'
export default {
  name: 'GeneralLayout',
  components: { tagsView },
  data () {
    return {
      leftDrawerOpen: true
    }
  }
}
</script>
