<template lang='pug'>
  div.q-ma-lg
    q-dialog(v-model='showDialog',persistent,transition-show='rotate',transition-hide='rotate')
      q-card.q-pa-lg
        q-card-section(style='max-height:50vh;min-width:50vh')
            div.column.q-gutter-md
              q-field(dense)
                template(v-slot:prepend)
                  div.text-caption.full-width 标题：
                template(v-slot:control)
                  q-input(v-model='detailData.title')
              q-input(dense)
                template(v-slot:prepend)
                  div.text-caption.full-width 解决方法：
                template(v-slot:control)
                  q-input(v-model='detailData.content')
        q-card-actions(right)
          q-btn(label='提交',size='xs',@click='onSubmitFAQ')
          q-btn(label='取消',size='xs',@click='showDialog=false')
    q-table(
        flat,
        grid,
        title='FAQ问题设置',
        :data='data',
        :columns='columns',
        :loading='loading',
        @request='onRequest',
        :pagination.sync="paginationData",
        row-key='f_id')
          template(v-slot:top)
            div.row(style='width:100%')
              q-space
              q-btn(label='添加',color='secondary',@click='onAddFAQ')
          template(v-slot:item="props")
            div.q-pa-xs.col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-style-transition
              q-card
                q-card-section(right)
                  q-btn(label='编辑',flat,size='xs',color='primary',@click='onEdit(props.row)')
                  q-btn(label='删除',flat,size='xs',color='primary',@click='onRemove(props.row)')
                q-separator
                q-list(dense)
                  q-item(v-for='(col,i) in props.cols',:key='i')
                    q-item-section
                      q-item-label {{col.label}}
                    q-item-section(side)
                      q-item-label(caption) {{col.value}}
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'FAQ',
  data () {
    return {
      isAddFAQ: false,
      showDialog: false,
      detailData: {},
      generalSearch: '',
      loading: false,
      paginationData: {
        descending: false,
        page: 1,
        rowsPerPage: 15,
        rowsNumber: 16
      },
      columns: [
        { name: 'title', align: 'center', label: '标题', field: 'title' },
        { name: 'content', align: 'center', label: '方案内容', field: 'content' },
        { name: 'otherBtn', align: 'right', label: '' }
      ],
      data: []
    }
  },
  mounted () {
    this.loading = true
    this.getAllCount().then(data => {
      console.log(data)
      this.paginationData.rowsNumber = data
      this.onRequest({
        pagination: this.paginationData,
        filter: undefined
      })
      this.loading = false
    }).catch(e => {
      console.log(e)
      this.loading = false
    })
  },
  methods: {
    ...mapActions('faq', [
      'getAllCount',
      'getAllFaq',
      'addFaq',
      'removeFaq',
      'editFaq'
    ]),
    onRequest (props) {
      let { page, rowsPerPage, rowsNumber, descending, sortBy } = props.pagination
      // let filter = props.filter
      let limit = rowsPerPage === 0 ? rowsNumber : rowsPerPage
      let offset = (page - 1) * rowsPerPage
      this.loading = true
      this.getAllFaq({ limit, offset }).then(data => {
        console.log(data)
        this.data = data
        this.paginationData.page = page
        this.paginationData.rowsPerPage = rowsPerPage
        this.paginationData.sortBy = sortBy
        this.paginationData.descending = descending
        this.loading = false
        console.log(this.paginationData)
      }).catch(err => {
        this.loading = false
        console.log(err)
      })
    },
    onAddFAQ () {
      this.showDialog = true
      this.isAddFAQ = true
      this.detailData = {
        title: '',
        content: ''
      }
    },
    onEdit (row) {
      this.showDialog = true
      this.isAddFAQ = false
      this.detailData = {
        title: row.title,
        content: row.content
      }
    },
    onRemove (row) {
      this.$q.dialog({
        title: '确认',
        message: '确定删除吗？',
        ok: '确定',
        cancel: '取消'
      }).onOk(() => {
        this.$q.loading.show()
        this.removeFaq({ id: row.f_id }).then(data => {
          var ar = this.data.filter(prop => prop.f_id === row.f_id)
          var ind = this.data.indexOf(ar[0])
          this.data.splice(ind)
          this.$q.loading.hide()
        }).catch(() => {
          this.$q.loading.hide()
        })
      })
    },
    onSubmitFAQ () {
      this.$q.loading.show()
      if (this.isAddFAQ) {
        this.addFaq(this.detailData).then(data => {
          this.$q.loading.hide()

          this.isAddFAQ = false
          this.showDialog = false
        }).catch(() => {
          this.$q.loading.hide()
          this.showDialog = false
          this.isAddFAQ = false
        })
      } else {
        this.editFaq(this.detailData).then(data => {
          this.$q.loading.hide()
          this.showDialog = false
          this.isAddFAQ = false
        }).catch(() => {
          this.$q.loading.hide()
          this.showDialog = false
          this.isAddFAQ = false
        })
      }
    }
  }
}
</script>

<style>
</style>
